<app-header>
</app-header>

<!-- loader -->
<div id="loader">
    <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
</div>
<!-- * loader -->

<!-- App Capsule -->
<div id="appCapsule">

    <!-- Wallet Card -->
    <div class="section wallet-card-section pt-1">
        <div class="wallet-card">
            <!-- Balance -->
            <div class="balance" *ngIf="listStatus">
                <div class="left">
                    <span class="title">Pending Acceptance</span>
                    <h1 class="total"><span> <i class="fa fa-rupee"></i> </span> {{(cards.pending_acceptance ) ? (cards.pending_acceptance ) : '0'}}L</h1>
                </div>
                <div class="right">
                    <span class="title">Throughput</span>
                    <h1 class="total"><i class="fp-prev"></i><span class="throughtStyle"> {{(cards.settled ) ? (cards.settled ) : '0' }}L</span></h1>
                </div>
                <!-- <div class="right">
                    <a href="#" class="button" data-toggle="modal" data-target="#depositActionSheet">
                        <ion-icon name="add-outline"></ion-icon>
                    </a>
                </div> -->
            </div>
            <!-- * Balance -->

        </div>
    </div>

    <!-- Stats -->
    <div *ngIf="listStatus">
        <div class="section">
            <div class="row mt-2">
                <div class="col-6">
                    <div class="stat-box h-100 firstGradient" [routerLink]="category=='dynamic'?['/dynamicdiscount']:['/pendingacceptance']">
                        <div class="title"> Pending Acceptance</div>
                        <div class="value"><span> <i class="fa fa-rupee"></i> </span> {{(cards.pending_acceptance ) ? (cards.pending_acceptance ) : '0'}} L</div>
                        <div class="title" style="margin-top: 0.7rem;">Count : <span class="value"> {{cards.pending_acceptance_count}}</span></div>
                        <!-- <div class="value">{{cards.pending_acceptance_count}}</div> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="stat-box h-100 secondGradient" routerLink="/pendingdisbursement">
                        <div class="title"> Pending Disbursement</div>
                        <div class="value"><span> <i class="fa fa-rupee"></i> </span> {{(cards.pending_disburment ) ? (cards.pending_disburment ) : '0'}}L</div>
                        <div class="title" style="margin-top: 0.7rem;"> Count : <span class="value"> {{cards.pending_disburment_count}}</span></div>
                        <!-- <div class="value">{{cards.pending_disburment_count}}</div> -->
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <div class="stat-box h-100 thirdGradient">
                        <div class="title"> Settled</div>
                        <div class="value"><span> <i class="fa fa-rupee"></i> </span> {{(cards.settled ) ? (cards.settled ) : '0'}}L</div>
                        <div class="title" style="margin-top: 0.7rem;">Count : <span class="value"> {{cards.settled_count}}</span></div>
                        <!-- <div class="value">{{cards.settled_count}}</div> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="stat-box h-100 forthGradient ">
                        <div class="title marTop"> Credit Period</div>
                        <div class="value">{{cards.avg_tenor}}</div>
                    </div>
                </div>

            </div>
            <div class="chart marginBottom " *ngIf="chart_status">
                <div class="row mt-2 ">
                    <div class="col-12">
                        <div class="stat-box ">
                            <canvas baseChart [colors]="chartColors" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- * App Capsule -->



<!-- spinner -->
<ngx-spinner bdColor="rgba(255,255,255,0.9)" size="medium" color="#0072aa" type="ball-spin">
    <p style="font-size: 20px; color: #0072aa">Loading...</p>
</ngx-spinner>


<app-bottommenu></app-bottommenu>

<app-sidebar></app-sidebar>