/* hr:nth-last-child() {
    display: none
} */

.full {
    width: 100% !important;
}

#invoice_number {
    /* border-radius: 4px !important; */
    height: 36px !important;
}

.marginleft {
    margin-left: 40px;
}

.bottomMargin {
    margin-bottom: 80px;
}

#appCapsule {
    /* padding-bottom: 1.3rem; */
    border-radius: 0px 0px 10px 10px;
    min-height: 90vh;
}

.wide-block {
    border-bottom: groove !important;
}
