<!-- loader -->
<div id="loader">
    <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
</div>
<!-- * loader -->


<div class="appHeader " style="position: relative; z-index: 0;">
    <div class="left">
        <a routerLink="/dashboard" class="headerButton">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        <img src="assets/images/cashex-logo.png" alt="logo" class="logo">
    </div>
</div>
<div id="appCapsule">
    <div class="section inset mt-2">
        <div class="wide-block pt-2 pb-2">
            <div class="form-group boxed">
                <div class="input-wrapper">
                    <!-- <div class="row"> -->
                    <div class="form-group mb-1">
                        <label>Invoice Number</label>
                        <input class="form-control" #invoice_number id="invoice_number" [(ngModel)]="invoicenumModel" />
                    </div>
                    <!-- </div> -->
                    <!-- <div class="row">
                    <div class="col-12"> -->
                    <div class="form-group mb-1">
                        <label>Invoice Date Range</label>
                        <my-date-range-picker class="full" #filter_invoice [options]="myDateRangePickerOptions" [(ngModel)]="invoiceModel" required></my-date-range-picker>
                    </div>

                    <!-- </div>
                </div> -->
                    <!-- <div class="row">
                    <div class="col-12"> -->
                    <div class="form-group mb-1">
                        <label>Settlement Date Range</label>
                        <my-date-range-picker #filter_disbursed [options]="myDateRangePickerOptions" [(ngModel)]="disbursedModel" required></my-date-range-picker>
                    </div>
                </div>
                <!-- </div>
                </div> -->
                <!-- <div class="row"> -->
                <button class="btn btn-primary" (click)="searchKey(invoice_number.value, filter_invoice, filter_disbursed)"> Search</button>
                <button class="btn btn-primary marginleft" (click)="resetFilter()" *ngIf="filter_status"> Reset</button>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div *ngIf="list_status" class="bottomMargin">
        <ng-container *ngIf="data_length > 0; else no_data_found">

            <div class="section inset mt-2 ">
                <div class="wide-block mt-2 pt-2">
                    <div>
                        Showing {{pageCounter(p, 1)}} to {{showLast(pageCounter(p, 1), data_length)}} of {{totalItems}} entries
                        <hr>
                    </div>

                    <div *ngFor="let item of tbl_data| paginate: { id: tbl_data, itemsPerPage: pageLimit, currentPage: p, totalItems: totalItems}; let i = index">
                        <div class="row" (click)="getReportDetails($event,item)">
                            <div class="col-10 appearBlack">

                                Invoice No : {{item.invoice_no}}

                                <div class="content-header mb-05 appearBlack">Invoice Amount : <span class="appearBlue">{{item.inv_amt | indianCurrency}} </span></div>
                                <div class="content-footer mt-05 appearBlack">Net Payable Amt : <span class="appearGreen">{{item.net_payable_amt | indianCurrency}}</span></div>
                            </div>
                            <div class="col-2">
                                <div class="img-container mt-3">
                                    <!-- <span class="right ">
                            <span class="headerButton"> -->
                                    <ion-icon name="chevron-forward-outline" class="i"></ion-icon>
                                    <!-- </span>
                        </span> -->
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="footer_pagination" *ngIf="pagination_length">
                        <pagination-controls *ngIf="data_length > 0" id="{{tbl_data}}" class="pagination_collection" (pageChange)="getPage($event)" previousLabel="" nextLabel="" maxSize="6"></pagination-controls>
                    </div>
                </div>
                <!-- pagination control -->
                <!-- <span *ngIf="tbl_length > 0">
                Showing {{pageCounter(p, 1)}} to {{showLast(pageCounter(p, 1), tbl_length)}} of {{total_page}} entries
              </span> -->

            </div>
            <!-- </div>
</div> -->
        </ng-container>
        <ng-template #no_data_found>
            <div class="section inset mt-2 no-data-found">
                <div class="wide-block pt-2 pb-2">
                    <strong> No Data Found </strong>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0.9)" size="medium" color="#0072aa" type="ball-spin">
    <p style="font-size: 20px; color: #0072aa">Loading...</p>
</ngx-spinner>

<app-bottommenu></app-bottommenu>
