<div id="loader">
    <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
</div>
<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
    <div class="left">
        <!-- <a href="javascript:;" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a> -->
    </div>
    <div class="pageTitle"></div>
    <div class="right">
    </div>
</div>
<!-- * App Header -->

<div class="outer">
    <div class="middle">
        <div class="inner">
            <!-- App Capsule -->
            <div id="appCapsule">

                <div class="section mt-2 text-center">
                    <!-- <h1>Log in</h1>
            <h4>Fill the form to log in</h4> -->
                    <img src='assets/images/cashex-logo.png'>
                </div>
                <div class="section mb-5 p-2">

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit('0')" id="logmis" autocomplete="off"  *ngIf="showLogindata">
                        <div class="card">
                            <div class="card-body pb-1">
                                <div class="form-group basic">
                                    <div class="input-wrapper">
                                        <label class="label" for="email1">E-mail</label>
                                        <input type="email" class="form-control" id="email1" placeholder="Your e-mail" formControlName="username">
                                        <i class="clear-input"><ion-icon name="close-circle"></ion-icon></i>
                                    </div>
                                </div>

                                <div class="form-group basic">
                                    <div class="input-wrapper">
                                        <label class="label" for="password1">Password</label>
                                        <input type="password" class="form-control" id="password1" placeholder="Your password" formControlName="password" required="">
                                        <i class="clear-input"><ion-icon name="close-circle"></ion-icon></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-links mt-2">
                            <!-- <div>
                        <a href="app-register.html">Register Now</a>
                    </div> -->
                            <div><a routerLink="/forgotpassword" class="text-muted">Forgot Password?</a></div>
                        </div>

                        <div class="form-button-group  transparent">
                            <button [disabled]="loginForm.invalid || clickbutton" class="btn btn-primary btn-block btn-lg">Submit</button>
                        </div>

                    </form>
                    <div *ngIf="showOtpComponent" class="otpMain">
                        <ng-otp-input class="otp-inp"  #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config">
                        </ng-otp-input>
                        <div class="resendmain" >
                            <a class="forgotpass resendanc" >
                                <button [disabled]="resendotp" class="resend" (click)="onSubmit('1')">  <span>Resend OTP</span></button>
                            </a>
                            <span class="secstyle" *ngIf="seconds !== 0">({{seconds}} Sec)</span>
                        </div>
                        <div class="alignRight forgotpass">
                            <a class="forgotpass resendanc">
                                <button class="resend bakTologin" (click)="backToLogin()">  <span>Back to Login</span></button>
                            </a>
                        </div>
                        <div class="form-button-group  transparent">
                            <button (click)="onSubmitlogin()" [disabled]="otpbuttonDis || otpclicked" class="btn btn-primary btn-block btn-lg">Submit</button>
                        </div>
                        </div>
                </div>

            </div>

        </div>
    </div>
</div>


<div id="toast-login" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="close-circle" class="text-danger"></ion-icon>
        <div class="text">
            {{loginFailMsg}}
        </div>
    </div>
</div>
<div class="toast-box toast-center toast-boxpopup" id="buyerpopupdash">
    <div class="in">
         <div class="modal-headerr"> Select Buyer</div>
              <button type="button" class="modal-close close clstyle" data-dismiss="modal" (click)="close()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin: 0px;">
                            <div class="outerList">
                                <div class="row" class="buyerList font-nunito-16" *ngFor="let item of buyer_list" (click)="setBuyer(item.id)">
                                    {{item.entity_name}}
                                </div>
                            </div>
                        </div>
                 </div>
           </div>
<div  class="toast-box toast-center toast-boxpopup" id="sellerpopupdash">
    <div class="in">
             <div class="modal-headerr"> Select Buyer</div>
                  <button type="button" class="modal-close close clstyle" data-dismiss="modal" (click)="close()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin: 0px;">
                            <div class="outerList">
                                <div class="row" class="buyerList font-nunito-16" *ngFor="let item of buyer_list" (click)="setSeller(item.id,item.entity_type)">
                                    {{item.entity_name}}
                                </div>
                            </div>
                        </div>
    </div>
</div>
