#appCapsule {
    padding-bottom: 0rem;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.modal-headerr{
    font-size:20px ;
}
.font-nunito-16{
    font-size:16px ;
}
#loader {
    background: linear-gradient(45deg, #00a95561 0%, #0072aa70 100%);
}
.buyerList{
    margin: 20px 0px;
}
.clstyle{
    margin-top: -22px;
}
.toast-boxpopup{
  background:   #0072aa; 
  width: 74%;
  padding: 20px 14px;
}
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.text-muted {
    color: black !important;
}

.card {
    background-color: #fffffff5;
}
.loginOTPStyle  h3:before {
    background: linear-gradient(to right, rgb(0, 114, 170) 76px, #ccc 50px) !important;
}
.otpMain{
    margin: 4% 0;
}
.secstyle{
    padding: 20px;color:#99b8a2;padding:0px 8px;   
}
.resendmain{
    text-align: left; 
}
.resendanc{
    color: #21aa47 !important;
    font-size: 16px !important;
    vertical-align: baseline !important;
    border-bottom: solid 1px !important;
}
.otp-inp{
    text-align: start;  
}
.loginOTPStyle {
width: 150px !important;
/* margin-bottom: 30px !important; */
}
.loginOTPStyle  h3 {
    font-size: 30px !important;
}
/* .otpButt{
    margin-top: 8% !important;
} */
/* for login style with two different colors line */
.resend {
    border: none;padding-top: 26px;background: none; 
}
 .resend:disabled
 {
    color: #99b8a2 !important;
    /* background: #292c3d !important; */
  }
.loginStyle {
    width: 112px;
    text-align: left;
    margin-bottom: 26px;
}
.loginStyle h3 {
    margin: 0;
    padding-bottom: 7px;
    font-size: 38px;
    color: rgb(0, 114, 170);
    position: relative;
}

.loginStyle h3:before {
    position: absolute;
    background: linear-gradient(to right, rgb(0, 114, 170) 50px, #ccc 50px);
    height: 2px;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
}