<!-- loader -->
<div id="loader">
    <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
</div>
<!-- * loader -->

<div class="appHeader " style="position: relative; z-index: 0;">
    <div class="left">
        <a routerLink="/dashboard" class="headerButton">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        <img src="assets/images/cashex-logo.png" alt="logo" class="logo">
    </div>
</div>

<div id="appCapsule">

    <ng-container *ngIf="(primary_key != undefined && data_length > 0)">
        <div>
            <div class="section">
                <div class="row mt-2">

                    <div class="col-6">

                        <div class="stat-box h-100 firstGradient">

                            <div class="title"> Enter Cash Requirement</div>
                            <div class="inputCard">
                                <input type="number" class="form-control" [(ngModel)]="m_cash_requirement">
                                <ion-icon size="large" name="search-sharp" (click)="dynamicDiscounting(m_cash_requirement, 101, '')"></ion-icon>
                            </div>


                        </div>
                    </div>

                    <div class="col-6">
                        <div class="stat-box h-100 thirdGradient">
                            <div class="title"> Select Discount Offered</div>
                            <div class="inputCard">
                                <!-- <input type="number" class="form-control" #default_discount_offered min={{min_value}} max={{max_value}} step={{steps_inc}} placeholder="Ex. 0.5" [(ngModel)]="m_discount_offered"> -->
                                <!-- <select name="disc_offered" [(ngModel)]="m_discount_offered">
                                    <option value="null"> Select Disc Offered</option>
                                    <option *ngFor="let interest of dynamic_interest_data" value="interest"> {{interest}}  </option>
                                </select> -->

                                <div class="form-group">
                                    <!-- <div class="input-wrapper"> -->
                                    <!-- <label class="label" for="default_discount_offered">Select Disc Offered</label> -->
                                    <select class="form-control custom-select" id="default_discount_offered" [(ngModel)]="m_discount_offered">
                                            <option *ngFor="let interest of dynamic_interest_data" value="{{interest}}">{{interest}}</option>
                                        </select>
                                    <!-- </div> -->
                                </div>

                                <ion-icon size="large" name="search-sharp" (click)="dynamicDiscounting(m_discount_offered, 102, '')"></ion-icon>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-2">

                    <div class="col-6">
                        <div class="stat-box h-100 secondGradient">
                            <div class="title"> Total Invoice Amount</div>
                            <div class="value ">{{total_invoice_amount | indianCurrency}}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="stat-box h-100 forthGradient">
                            <div class="title"> Approved Amount</div>
                            <div class="value">{{total_approved_amount | indianCurrency}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="data_length > 0; else no_data_found">
        <div class="section mt-2 bottomMargin">
            <div class="card">
                <div class="card-body p-0">
                    <div class="section inset mt-2">
                        <!-- <div class="wide-block pt-2"> -->
                        <div>
                            Showing {{pageCounter(p, 1)}} to {{showLast(pageCounter(p, 1), data_length)}} of {{totalItems}} entries
                            <!-- Showing {{pageCounter(p, 1)}} to {{showLast(pageCounter(p, 1), tbl_length)}} of {{tbl_length}} entries -->
                            <hr class="marBottom">
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="input-list">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" #selectall (change)="selectAll($event)" *ngIf="data_length > 0" class="custom-control-input" id="allselect">
                            <label class="custom-control-label" for="allselect">Select All
              <button data-toggle="modal" data-target="#DialogForBulk" class=" headerButton btn btn-primary right"
                *ngIf="bulk_upload_status">Authorize</button>
                <button class="btn btn-primary marginleft" (click)="resetFilter()" *ngIf="bulk_upload_status && checkBtnShowSecondCall"> Reset</button>
                <button class=" headerButton btn btn-primary right"
                *ngIf="bulk_upload_status && !checkBtnShowSecondCall" (click)="calculate($event)">Calculate</button>
            </label>
                        </div>
                        <div *ngFor="let item of tbl_data | paginate: { id: tbl_data, itemsPerPage: pageLimit, currentPage: p, totalItems: totalItems}; let i = index" class="custom-control custom-checkbox">
                            <input type="checkbox" class="tbody_check_content custom-control-input" (click)="single_select($event, item)" id="action-checkbox-{{setPrimaryKey(item)}}">
                            <label class="custom-control-label" for="action-checkbox-{{setPrimaryKey(item)}}">
              <div class="row" style="
                        width: -webkit-fill-available;">
                <!-- <div class="col-10 appearBlack" (click)="getDetailedData(item)"> -->
                    <div class="col-10 appearBlack">

                  Invoice No : {{item.invoice_no}}

                  <div class="content-header mb-05 ">Invoice Amount : <span
                      class="appearGreen">{{item.inv_amt  | indianCurrency}}</span></div>
                  <div class="content-footer mt-05 ">Net Payable Amt : <span
                      class="appearBlue">{{item.net_payable_amt  | indianCurrency}}</span></div>
                </div>
                <div class="col-2">
                  <div class="img-container" (click)="pushItem($event, item)">
                    <ion-icon name="checkmark" class="i"></ion-icon>
                  </div>
                </div>
              </div>

            </label>
                        </div>
                    </div>

                    <div class="footer_pagination" *ngIf="pagination_length">
                        <hr>
                        <pagination-controls *ngIf="data_length > 0" id="{{tbl_data}}" class="pagination_collection marTop" (pageChange)="getPage($event)" previousLabel="" nextLabel="" maxSize="6"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>


    <ng-template #no_data_found>
        <div class="section inset mt-2 no-data-found">
            <div class="wide-block pt-2 pb-2">
                <strong> No Data Found </strong>
            </div>
        </div>
    </ng-template>

</div>


<!-- Dialog Iconed Inline -->
<div class="modal fade dialogbox" id="DialogForBulk" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Accepting Bulk Invoices</h5>
            </div>
            <div class="modal-body">
                Do you wish to proceed?
            </div>

            <div class="custom-control custom-checkbox d-inline lift">
                <input id="customCheck5" type="checkbox" class="custom-control-input" />
                <label class="custom-control-label p-0" for="customCheck5"></label>
                <span>&nbsp;<a href="https://cashinvoice.in/terms-and-conditions/" target="_blank" title="Click to View Terms & Conditions">Accept Terms & Conditions</a></span>

            </div>


            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn btn-text-danger" data-dismiss="modal">
                        <ion-icon name="close-outline"></ion-icon>
                        CANCEL
                    </a>
                    <a (click)="authorized()" class="btn btn-text-primary" data-dismiss="modal">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        OK
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * Dialog Iconed Inline -->

<!-- Dialog Iconed Inline for single  -->

<div class="modal fade dialogbox" id="DialogForSingle" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Accepting Invoice {{temp_item.invoice_no}}</h5>
            </div>
            <div class="modal-body">
                Do you wish to proceed?
            </div>

            <div class="custom-control custom-checkbox d-inline lift">
                <input id="customCheck6" type="checkbox" class="custom-control-input" />
                <label class="custom-control-label p-0" for="customCheck6"></label>
                <span>&nbsp;<a href="https://cashinvoice.in/terms-and-conditions/" target="_blank" title="Click to View Terms & Conditions">Accept Terms & Conditions</a></span>

            </div>


            <div class="modal-footer">
                <div class="btn-inline">
                    <a (click)="clearSelect()" href="#" class="btn btn-text-danger" data-dismiss="modal">
                        <ion-icon name="close-outline"></ion-icon>
                        CANCEL
                    </a>
                    <a (click)="authorizeSingle(temp_item)" class="btn btn-text-primary" data-dismiss="modal">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        OK
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- * Dialogue inline single -->

<div id="toast-bulkauthorized-success" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="checkmark-circle" class="text-success"></ion-icon>
        <div class="text">
            Authorized Successfully
        </div>
    </div>
</div>
<div id="toast-bulkauthorization-failure" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="close-circle" class="text-danger"></ion-icon>
        <div class="text">
            Authorization failure
        </div>
    </div>
</div>

<div id="toast-authorized-success" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="checkmark-circle" class="text-success"></ion-icon>
        <div class="text">
            Authorized Successfully
        </div>
    </div>
</div>
<div id="toast-authorization-failure" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="close-circle" class="text-danger"></ion-icon>
        <div class="text">
            Authorization failure
        </div>
    </div>
</div>

<div id="accepttandc" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="close-circle" class="text-danger"></ion-icon>
        <div class="text">
            <a href="https://cashinvoice.in/terms-and-conditions/" target="_blank" title="Click to View Terms & Conditions">
             Accept Terms & Conditions
             </a>
        </div>
    </div>
</div>


<app-bottommenu></app-bottommenu>