.bottomMargin {
    margin-bottom: 80px;
}

.img-container .i {
    position: relative;
    top: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60%;
}

#appCapsule {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: env(safe-area-inset-bottom);
}

.card {
    border-bottom: groove;
}


/* .firstGradient::before {
  content: "\1F6C8";
  vertical-align: middle;
  display: inline-block;
  font-size: x-large;
  float: left;
  font-size: 40px;
} */

.marBottom {
    margin-bottom: 5px;
}

.inputCard {
    display: flex;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

option {
    font-size: 10px;
    padding: 0px !important;
    margin: 0px !important;
    size: 10px;
    /* max-width: 50px; */
}

select {
    text-indent: 5px;
}

.lift {
    margin-left: 2rem;
    margin-bottom: 1rem;
}