.section {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

button {
    margin: 1.5rem auto;
    display: block;
}

.textTop {
    vertical-align: super;
}

.lift {
    margin-left: 2rem;
    margin-bottom: 1rem;
}