<!-- App Bottom Menu -->
<div class="appBottomMenu">
    <!-- <div *ngIf="category == 'dynamic'; else staticPendingAcc"> -->
    <a routerLink="/dynamicdiscount" *ngIf="category == 'dynamic'" class="item" routerLinkActive="active">
        <div class="col">
            <ion-icon name="pie-chart-outline"></ion-icon>
            <strong>Pending Acceptance</strong>
        </div>
    </a>
    <!-- </div> -->

    <!-- <ng-template #staticPendingAcc> -->
    <a routerLink="/pendingacceptance" *ngIf="category != 'dynamic'" class="item" routerLinkActive="active">
        <div class="col">
            <ion-icon name="pie-chart-outline"></ion-icon>
            <strong>Pending Acceptance</strong>
        </div>
    </a>
    <!-- </ng-template> -->

    <!-- <a routerLink="/pendingacceptance" class="item" routerLinkActive="active">
        <div class="col">
            <ion-icon name="pie-chart-outline"></ion-icon>
            <strong>Pending Acceptance</strong>
        </div>
    </a> -->
    <a routerLink="/pendingdisbursement" class="item" routerLinkActive="active">
        <div class="col">
            <ion-icon name="document-text-outline" routerLinkActive="active"></ion-icon>
            <strong>Pending Disb</strong>
        </div>
    </a>

    <a routerLink="/dashboard" class="item" routerLinkActive="active">
        <div class="col">
            <ion-icon name="apps-outline" routerLinkActive="active"></ion-icon>
            <strong>Dashboard</strong>
        </div>
    </a>
    <a routerLink="/transactionreports" class="item" routerLinkActive="active">
        <div class="col">
            <ion-icon name="card-outline"></ion-icon>
            <strong>Transaction Reports</strong>
        </div>
    </a>
    <a (click)="redirectDashboard()" class="item" routerLinkActive="active">
        <div class="col">
            <ion-icon name="settings-outline"></ion-icon>
            <strong>Settings</strong>
        </div>
    </a>
</div>
<!-- * App Bottom Menu -->