<body class="bg-white">
    <!-- loader -->
    <div id="loader">
        <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <span class="headerButton">
        <ion-icon name="chevron-back-outline" (click)="goToList()"></ion-icon>
    </span>
        </div>
        <div class="pageTitle">
            <img src="assets/images/cashex-logo.png" alt="logo" class="logo">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section">

            <div class="listed-detail mt-3">
                <div class="icon-wrapper">
                    <div class="iconbox">
                        <ion-icon name="arrow-down-outline"></ion-icon>
                    </div>
                </div>
                <h3 class="text-center mt-2">Pending Disbursement</h3>
            </div>

            <ul class="listview simple-listview no-space mt-3">

                <li>
                    <span>Invoice No</span>
                    <strong>{{details[0].invoice_no}}</strong>
                </li>
                <li>
                    <span>Invoice Date</span>
                    <strong>{{details[0].invoice_date | datePipe}}</strong>
                </li>
                <li>
                    <span>Invoice Due Date</span>
                    <strong>{{details[0].invoice_due_date | datePipe}}</strong>
                </li>
                <li>
                    <span>Invoice Amount</span>
                    <strong>{{details[0].inv_amt  | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Invoice Adjustment</span>
                    <strong>{{details[0].invoice_adjustments | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Net Amount</span>
                    <strong>{{details[0].invoice_net_amt | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Discount Amount</span>
                    <strong>{{details[0].disc_amt | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Discount Percentage</span>
                    <strong>{{((details[0].disc_amt/details[0].inv_amt)*100).toFixed(2)}}</strong>
                </li>
                <li>
                    <span>Net Payable Amount</span>
                    <strong>{{details[0].net_payable_amt  | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Credit Period</span>
                    <strong>{{details[0].tenor>0?details[0].tenor: 0}}</strong>
                </li>
                <li>
                    <span>Acceptance Date</span>
                    <strong>{{details[0].invoice_acceptance_date | datePipe}}</strong>
                </li>
                <li>
                    <span>Disbursed Date</span>
                    <strong>{{details[0].disbursed_date | datePipe}}</strong>
                </li>

                <li>
                    <span>PO Number</span>
                    <strong>{{details[0].po_number}}</strong>
                </li>

                <li>
                    <span>Buyer GSTN</span>
                    <strong>{{details[0].buyer_gstn}}</strong>
                </li>
                <li>
                    <span>Seller GSTN</span>
                    <strong>{{details[0].seller_gstn}}</strong>
                </li>


                <li>
                    <span>Buyer Reference No.</span>
                    <strong>{{details[0].buyer_ref_no}}</strong>
                </li>


            </ul>


        </div>

    </div>

</body>


<app-bottommenu></app-bottommenu>