.bottomMargin {
    margin-bottom: 80px;
}

.img-container .i {
    position: relative;
    top: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60%;
}

#appCapsule {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: env(safe-area-inset-bottom);
}

.card {
    border-bottom: groove;
}


/* .firstGradient::before {
    content: "\1F6C8";
    vertical-align: middle;
    display: inline-block;
    font-size: x-large;
    float: left;
    font-size: 40px;
} */

.marBottom {
    margin-bottom: 5px;
}

.lift {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.trendCard {
    border-color: #E4E4E4;
    font-size: 1rem !important;
    margin-bottom: 0px;
    text-align: end;
    font-family: "Roboto Slab";
    font-weight: 600;
    font-size: 5em;
    background: linear-gradient(135deg, rgba(0, 169, 85, 1) 50%, rgba(0, 114, 170, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-control-input:disabled~.custom-control-label::before,
.custom-control-input[disabled]~.custom-control-label::before {
    background: #566166 !important;
    border-color: #566166 !important;
}