<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <!-- profile box -->
                <div class="profileBox pt-2 pb-2">
                    <div class="image-wrapper">
                        <img src="assets/images/img.jpg" alt="image" class="imaged  w36">
                    </div>
                    <div class="in">
                        <strong>{{name}}</strong>
                        <div class="text-muted">{{entity_type}}</div>
                    </div>
                    <a href="#" class="btn btn-link btn-icon sidebar-close" data-dismiss="modal">
                        <ion-icon name="close-outline"></ion-icon>
                    </a>
                </div>
                <hr>
                <!-- menu -->
                <div class="listview-title mt-1">Menu</div>
                <ul class="listview flush transparent no-line image-listview">
                    <li>
                        <div (click)="dashboardClicked()" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="apps-outline"></ion-icon>
                            </div>
                            <div class="in">
                                Dashboard
                            </div>
                        </div>
                    </li>



                    <li *ngIf="category == 'dynamic'; else staticPendingAcc">
                        <div (click)="dynamicdiscountClicked()" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="pie-chart-outline"></ion-icon>
                            </div>
                            <div class="in">
                                Pending Acceptance
                                <span class="badge badge-primary"></span>
                            </div>
                        </div>
                    </li>


                    <ng-template #staticPendingAcc>
                        <li>
                            <div (click)="pendingaccClicked()" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="pie-chart-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Pending Acceptance
                                    <span class="badge badge-primary"></span>
                                </div>
                            </div>
                        </li>
                    </ng-template>



                    <li>
                        <div (click)="pendingdisbClicked()" href="app-pages.html" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="document-text-outline"></ion-icon>
                            </div>
                            <div class="in">
                                Pending Disbursement
                            </div>
                        </div>
                    </li>

                    <li>
                        <div (click)="transreportClicked()" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="card-outline"></ion-icon>
                            </div>
                            <div class="in">
                                Transaction Reports
                            </div>
                        </div>
                    </li>

                    <li>
                        <div (click)="logout()" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </div>
                            <div class="in">
                                Log out
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- * menu -->
            </div>
        </div>
    </div>
    <div id="toast-login" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="close-circle" class="text-danger"></ion-icon>
        <div class="text">
            {{loginFailMsg}}
        </div>
    </div>
</div>
</div>
<!-- * App Sidebar -->