<!-- App Header -->
<div class="appHeader bg-primary text-light">
    <div class="left">
        <a href="#" class="headerButton" data-toggle="modal" data-target="#sidebarPanel">
            <ion-icon name="menu-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        <img src="assets/images/cashex-logo-white.png" alt="logo" class="logo">
    </div>
    <!-- <div class="right">
        <a href="#" class="headerButton">
            <ion-icon class="icon" name="notifications-outline"></ion-icon>
            <span class="badge badge-danger">4</span>
        </a>
    </div> -->
</div>
<!-- * App Header -->

<!-- <a href="#" class="headerButton" data-toggle="dropdown">
    <i class="icon ion-ios-more"></i>
</a>
<div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="#">Deposit</a>
    <a class="dropdown-item" href="#">Withdraw</a>
    <a class="dropdown-item" href="#">Send</a>
    <a class="dropdown-item" href="#">Exchange</a>
</div> -->