#appCapsule {
    padding-bottom: 0rem;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.text-muted {
    color: black !important;
}

.card {
    background-color: #fffffff5;
}
