<!-- App Header -->
<div class="appHeader no-border transparent position-absolute">
    <div class="left">
        <!-- <a href="javascript:;" class="headerButton goBack">
              <ion-icon name="chevron-back-outline"></ion-icon>
          </a> -->
    </div>
    <div class="pageTitle"></div>
    <div class="right">
    </div>
</div>
<!-- * App Header -->

<div class="outer">
    <div class="middle">
        <div class="inner">
            <!-- App Capsule -->
            <div id="appCapsule">

                <div class="section mt-2 text-center">
                    <!-- <h1>Log in</h1>
          <h4>Fill the form to log in</h4> -->
                    <img src='assets/images/cashex-logo.png'>
                </div>
                <div class="section mb-5 p-2">

                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" id="logmis" autocomplete="off">
                        <div class="card">
                            <div class="card-body pb-1">
                                <div class="form-group basic">
                                    <div class="input-wrapper">
                                        <label class="label" for="email1">E-mail</label>
                                        <input type="email" class="form-control" id="email1" placeholder="Your e-mail" formControlName="email">
                                        <i class="clear-input"><ion-icon name="close-circle"></ion-icon></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-links mt-2">
                            <div><a routerLink="/login" class="text-muted">Sign In</a></div>
                        </div>

                        <div class="form-button-group  transparent">
                            <button [disabled]="forgotPasswordForm.invalid" class="btn btn-primary btn-block btn-lg">Submit</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>


<div id="toast-forgotpassfailure" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="close-circle" class="text-danger"></ion-icon>
        <div class="text">
            {{forgotPasswordFailMsg}}
        </div>
    </div>
</div>

<div id="toast-emailsent" class="toast-box toast-center">
    <div class="in">
        <ion-icon name="checkmark-circle" class="text-success"></ion-icon>
        <div class="text">
            Password reset mail has been sent to your Email ID {{frmValidate.email.value}}
        </div>
    </div>
</div>
