    /* .img-container ion-icon {
        position: relative;
        top: calc(50% - 10px);
    } */
    /* .dispFlex {
        display: flex !important;
        align-items: center;
    }

    .dispFlex ion-icon {
        height: 100%;
        margin-right: 5px;
    } */

    .img-container .i {
        position: relative;
        top: calc(50% - 10px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60%;
    }

    .wide-block {
        margin-bottom: 80px;
        border-bottom: groove;
    }

    #appCapsule {
        /* padding-bottom: 1.3rem; */
        border-radius: 0px 0px 10px 10px;
        min-height: 90vh;
    }
