<!-- loader -->
<div id="loader">
    <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
</div>
<!-- * loader -->


<div class="appHeader " style="position: relative; z-index: 0;">
    <div class="left">
        <a routerLink="/dashboard" class="headerButton">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        <img src="assets/images/cashex-logo.png" alt="logo" class="logo">
    </div>
</div>


<div id="appCapsule">
    <!-- <th *ngIf="primary_key != undefined && data_length > 1 "> -->
    <ng-container *ngIf="(primary_key != undefined && data_length > 1)">
        <div>
            <div class="section">
                <div class="row mt-2">

                    <div class="col-6">
                        <div class="stat-box h-100 firstGradient">
                            <div class="title"> Invoice Amount</div>
                            <div class="value ">{{card_data["0"].inv_amt | indianCurrency}}</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="stat-box h-100 secondGradient">
                            <div class="title"> Discount Amount</div>
                            <div class="value">{{card_data["0"].disc_amt | indianCurrency}}</div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <div class="stat-box h-100  thirdGradient">
                            <div class="title"> Net Payable Amount</div>
                            <div class="value ">{{card_data["0"].net_payable_amt | indianCurrency}}</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="stat-box h-100 forthGradient">
                            <div class="title"> Disbursement Date</div>
                            <div class="value">{{settlement_date | datePipe}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </ng-container>

    <ng-container *ngIf="data_length > 0; else no_data_found">
        <div class="section inset mt-2">
            <div class="wide-block pt-2">
                <div>
                    Showing {{pageCounter(p, 1)}} to {{showLast(pageCounter(p, 1), data_length)}} of {{totalItems}} entries
                    <hr>
                </div>

                <div *ngFor="let item of disb_data | paginate: { id: disb_data, itemsPerPage: pageLimit, currentPage: p, totalItems: totalItems}; let i = index">
                    <!-- <div class="row" (click)="getDetailedData(item)"> -->
                        <div class="row">
                        <div class="col-10 appearBlack">

                            Invoice No : {{item.invoice_no}}

                            <div class="content-header mb-05 appearBlack">Invoice Amount : <span class="appearBlue">{{item.inv_amt | indianCurrency}} </span></div>
                            <div class="content-footer mt-05 appearBlack">Net Payable Amt : <span class="appearGreen">{{item.net_payable_amt | indianCurrency}}</span></div>
                        </div>
                        <div class="col-2">
                            <div class="img-container">
                                <!-- <span class="right ">
                            <span class="headerButton"> -->
                                <ion-icon name="chevron-forward-outline" class="i"></ion-icon>
                                <!-- </span>
                        </span> -->
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>


                <div class="footer_pagination" *ngIf="pagination_length">
                    <pagination-controls *ngIf="data_length > 0" id="{{disb_data}}" class="pagination_collection" (pageChange)="getPage($event)" previousLabel="" nextLabel="" maxSize="6"></pagination-controls>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #no_data_found>
        <div class="section inset mt-2 no-data-found">
            <div class="wide-block pt-2 pb-2">
                <strong> No Data Found </strong>
            </div>
        </div>
    </ng-template>
</div>

<ngx-spinner bdColor="rgba(255,255,255,0.9)" size="medium" color="#0072aa" type="ball-spin">
    <p style="font-size: 20px; color: #0072aa">Loading...</p>
</ngx-spinner>


<app-bottommenu></app-bottommenu>
