<body class="bg-white">
    <!-- loader -->
    <div id="loader">
        <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <span class="headerButton">
        <ion-icon name="chevron-back-outline" (click)="goToList()"></ion-icon>
    </span>
        </div>
        <div class="pageTitle">
            <img src="assets/images/cashex-logo.png" alt="logo" class="logo">
        </div>
        <div class="right">
            <!-- <a href="javascript:;" class="headerButton">
              <ion-icon name="trash-outline"></ion-icon>
          </a> -->
            <!-- <a class="item" data-toggle="modal" data-target="#DialogIconedButtonInline" class="headerButton">
              <ion-icon name="checkmark"></ion-icon>
          </a> -->
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section">

            <div class="listed-detail mt-3">

                <h2 class="text-center mt-2">Pending Acceptance</h2>
                <div class="center">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#DialogIconedButtonInline">
               <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              <span class="textTop">Authorize</span>
              </button>
                </div>
            </div>

            <ul class="listview simple-listview no-space mt-3">

                <li>
                    <span>Invoice No</span>
                    <strong>{{details[0].invoice_no}}</strong>
                </li>
                <li>
                    <span>Invoice Date</span>
                    <strong>{{details[0].invoice_date | datePipe}}</strong>
                </li>
                <li>
                    <span>Invoice Due Date</span>
                    <strong>{{details[0].invoice_due_date | datePipe}}</strong>
                </li>
                <li>
                    <span>Invoice Amount</span>
                    <strong>{{details[0].inv_amt  | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Invoice Adjustment</span>
                    <strong>{{details[0].invoice_adjustments | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Net Amount</span>
                    <strong>{{details[0].invoice_net_amt | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Discount Amount</span>
                    <strong>{{details[0].disc_amt | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Discount Percentage</span>
                    <strong>{{((details[0].disc_amt/details[0].inv_amt)*100).toFixed(2)}}</strong>
                </li>
                <li>
                    <span>Net Payable Amount</span>
                    <strong>{{details[0].net_payable_amt  | indianCurrency}}</strong>
                </li>
                <li>
                    <span>Credit Period</span>
                    <strong>{{details[0].tenor>0?details[0].tenor: 0 }}</strong>
                </li>
                <li>
                    <span>Acceptance Date</span>
                    <strong>{{details[0].invoice_acceptance_date | datePipe}}</strong>
                </li>
                <li>
                    <span>Disbursed Date</span>
                    <strong>{{details[0].disbursed_date | datePipe}}</strong>
                </li>

                <li>
                    <span>PO Number</span>
                    <strong>{{details[0].po_number}}</strong>
                </li>

                <li>
                    <span>Buyer GSTN</span>
                    <strong>{{details[0].buyer_gstn}}</strong>
                </li>
                <li>
                    <span>Seller GSTN</span>
                    <strong>{{details[0].seller_gstn}}</strong>
                </li>


                <li>
                    <span>Buyer Reference No.</span>
                    <strong>{{details[0].buyer_ref_no}}</strong>
                </li>


            </ul>


        </div>

    </div>
    <!-- * App Capsule -->
    <!-- Dialog Iconed Inline -->
    <div class="modal fade dialogbox" id="DialogIconedButtonInline" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Accepting Invoice {{details[0].invoice_no}}</h5>
                </div>
                <div class="modal-body">
                    Do you wish to proceed?
                </div>

                <div class="custom-control custom-checkbox d-inline lift">
                    <input id="customCheck7" type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label p-0" for="customCheck7"></label>
                    <span>&nbsp;<a href="https://cashinvoice.in/terms-and-conditions/" target="_blank" title="Click to View Terms & Conditions">Accept Terms & Conditions</a></span>

                </div>

                <div class="modal-footer">
                    <div class="btn-inline">
                        <a href="#" class="btn btn-text-danger" data-dismiss="modal">
                            <ion-icon name="close-outline"></ion-icon>
                            CANCEL
                        </a>
                        <a (click)="authorized(details[0])" class="btn btn-text-primary" data-dismiss="modal">
                            <ion-icon name="checkmark-outline"></ion-icon>
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Dialog Iconed Inline -->

    <div id="toast-authorized-success" class="toast-box toast-center">
        <div class="in">
            <ion-icon name="checkmark-circle" class="text-success"></ion-icon>
            <div class="text">
                Authorized Successfully
            </div>
        </div>
    </div>
    <div id="toast-authorization-failure" class="toast-box toast-center">
        <div class="in">
            <ion-icon name="close-circle" class="text-danger"></ion-icon>
            <div class="text">
                Authorization failure
            </div>
        </div>
    </div>
    <div id="accepttandc" class="toast-box toast-center">
        <div class="in">
            <ion-icon name="close-circle" class="text-danger"></ion-icon>
            <div class="text">
                <a href="https://cashinvoice.in/terms-and-conditions/" target="_blank" title="Click to View Terms & Conditions">
                Accept Terms & Conditions
                </a>
            </div>
        </div>
    </div>

</body>

<app-bottommenu></app-bottommenu>